.content{
    background-color: #c2c2c2;
    display: flex;
    margin-top: 12px;
    max-height: 200px;
    border-radius: 8px;
    cursor: pointer;
}

.content img{
    object-fit: cover;
    border-radius: 8px 0px 0px 8px;
}

.content .description{
    padding: 10px 4px 4px 10px;
    color: white;
    align-self: center;
}

.content .description p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}
