.containerCard {
    margin: 0px 8px;
    width: 160px;
    color: white;
    position: relative;
    transition: margin 0.4s, width 0.4s;
}

.containerCard:hover {
    margin: 0px 18px;
    color: var(--main-orange);
    cursor: pointer;
    width: 180px;
}

.containerCard .info img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.containerCard .info p {
    margin-top: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

circle-progress {
    margin: 4px;
    position: absolute;
    top: 0;
    right: 0;
}

a{
    text-decoration: none;
}