.containerCard{
    margin-right: 16px;
    max-width: 180px;
    position: relative;
}


.containerCard .info img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.containerCard .info p{
    margin-top: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
}

circle-progress{
    margin: 4px;
    position: absolute;
    top: 0;
    right: 0;
}