#btnBuscar{
    background-color: var(--main-orange);
    color: rgb(0, 0, 0);
    border: none;
    box-shadow: none;
    font-weight: 600;
}

#navbar{
    background-color: black !important;
}

#icon{
    margin-right: 32px;
}

.active{
    font-weight: 600;
    color: var(--main-orange) !important;
}