<div class="navbar">

    <div class="content">
        PelisHub
        <div class="tabs">
            <ul>
                <li>Inicio</li>
                <li>Inicio</li>
                <li>Inicio</li>
                <li>Inicio</li>
            </ul>
        </div>
    </div>

    <div class="busqueda">
        <input id="inputBusqueda" type="text">
        <button (click)="open()">Buscar</button>
    </div>


</div>

<div id="MyResponse" *ngIf="list.length != 0">

    <div class="card" *ngFor="let e of list;">
        <img 
        src = "https://www.themoviedb.org/t/p/w220_and_h330_face/{{e['poster_path']}}"
        class="img-responsive" 
        > 

        <div class="content">
            <h3>{{ e["title"] || e["name"] }}</h3>
            <p>{{ e["overview"] }}</p>
        </div>

    </div>

</div>