<div class="content">
    <h3 style="color: white;">Resultado de la búsqueda</h3>
  
    <div class="container">
  
  
          <div style="margin-right: 8px;" *ngFor="let popular of list">
            <!--
            <card-movie title="{{popular['title']}} {{popular['original_name']}}" posterPath="{{popular['enlacePoster']}}"
              valoracion="{{popular['vote_average']}}"> </card-movie>
              -->
              <card-result-movie title="{{popular['title']}} {{popular['original_name']}}" movieID="{{popular['id']}}" description="{{popular['overview']}}"  posterPath="{{popular['enlacePoster']}}"></card-result-movie>
          </div>
  
    </div>
    <br>
  
  
  </div>