<div class="content">
  <h3>Próximas Películas</h3>

  <div class="container">

      <div >

        <div  class="row" *ngFor="let popular of listProximos | paginate: { itemsPerPage: 20, currentPage: p }">
          <div style="margin-right: 8px;" class="col" #ultracont *ngFor = "let col of popular">
            <card-movie movieID="{{col['id']}}"  title="{{col['title']}}" posterPath="{{col['enlacePoster']}}"
            valoracion="{{col['vote_average']}}"> </card-movie>
          </div>
        </div>

      </div>
  </div>
  <br>


</div>